<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Gamedata rule 1">
					<match url="^gamedata/figuredata(|/)$" ignoreCase="false" />
					<action type="Rewrite" url="/gamedata/figuredata.xml" appendQueryString="false" />
				</rule>
				<rule name="Gamedata rule 2">
					<match url="^gamedata/furnidata/(.*)(|/)$" ignoreCase="false" />
					<action type="Rewrite" url="/gamedata/furnidata.txt" appendQueryString="false" />
				</rule>
				<rule name="Gamedata rule 3">
					<match url="^gamedata/productdata/(.*)(|/)$" ignoreCase="false" />
					<action type="Rewrite" url="/gamedata/productdata.txt" appendQueryString="false" />
				</rule>
				<rule name="Gamedata rule 4">
					<match url="^gamedata/external_variables/(.*)(|/)$" ignoreCase="false" />
					<action type="Rewrite" url="/gamedata/external_variables.txt" appendQueryString="false" />
				</rule>
				<rule name="Gamedata rule 5">
					<match url="^gamedata/external_flash_texts/(.*)(|/)$" ignoreCase="false" />
					<action type="Rewrite" url="/gamedata/external_flash_texts.txt" appendQueryString="false" />
				</rule>

				<rule name="habbocms" patternSyntax="Wildcard">
					<match url="*" ignoreCase="false" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>